<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">

<!--
<![endif]-->
<head>
  <meta charset="utf-8">
  <title>主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->

  <link href="../Public/icomoon/style.css" rel="stylesheet">
  <!--[if lte IE 7]>
  <script src="css/icomoon-font/lte-ie7.js">
  </script>
  <![endif]-->
  <link href="../Public/css/main.css" rel="stylesheet">

</head>
<body>
<header>
  <a href="#" class="logo">
    <img src="../Public/img/logo.png" alt="logo" />
  </a>
  <div class="btn-group">
    <button class="btn btn-primary">Srinu Baswa</button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
  <ul class="mini-nav">
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
        <span class="info-label badge badge-warning">3</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
        <span class="info-label badge badge-info">5</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
        <span class="info-label badge badge-success">9</span>
      </a>
    </li>
  </ul>

</header>
<div class="container-fluid">
  <div class="dashboard-container">
    <div class="top-nav">
      <ul>
        <li>
          <a href="index.html" style="font-size: 16px;"><div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>门店管理</a>
        </li>
        <li>
          <a href="product.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>商品管理</a>
        </li>
        <li>
          <a href="consumption.html" class="selected"><div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>消费充值</a>
        </li>
        <li>
          <a href="m_member.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>会员管理</a>
        </li>
        <li>
          <a href="stock.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>库存管理</a>
        </li>
        <li>
          <a href="staff_manage.html"><div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>员工管理</a>
        </li>
        <li>
          <a href="media.html"><div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>排班考勤</a>
        </li>
        <li>
          <a href="calendar.html"><div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>报表管理</a>
        </li>
        <li>
          <a href="typography.html"><div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>营销管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>配置管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>系统管理</a>
        </li>
      </ul>
      <div class="clearfix">
      </div>
    </div>
    <div class="sub-nav">
      <ul>
        <li><a href="consumption.html" class="heading">主页</a></li>
        <li><a href="consumption_add.html">新增消费</a></li>
        <li><a href="consumption_list.html">消费列表</a></li>
        <li><a href="h_rechargeList.html">新增充值</a></li>
        <li><a href="h_department.html">充值列表</a></li>
        <li><a href="h_recordExpenditure.html">充值设置</a></li>
      </ul>
    </div>
    <div class="dashboard-wrapper">
      <div class="left-sidebar">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <div class="title">快速入口</div>
                <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
              </div>
              <div class="widget-body">
                <div class="row-fluid">
                  <div class="metro-nav">
                    <div class="metro-nav-block nav-block-blue current">
                      <a href="graphs.html" >
                        <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                        <div class="brand">统计信息</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="index.html" >
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                        <div class="brand">门店资料</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="ui-elements.html" >
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                        <div class="brand">会员管理</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="graphs.html" >
                        <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                        <div class="brand">统计信息</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                      <a href="forms.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                        <div class="brand">库存管理</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-red">
                      <a href="icons.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>
                        <div class="brand">Icons</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-red">
                      <a href="tables.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                        <div class="brand">Tables</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                      <a href="media.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                        <div class="brand">Media</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="calendar.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                        <div class="brand">Calendar</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                        <div class="brand">Typography</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                        <div class="brand">Extras</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                      <a href="media.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                        <div class="brand">Media</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="calendar.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                        <div class="brand">Calendar</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                        <div class="brand">Typography</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                        <div class="brand">Extras</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                      <a href="media.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                        <div class="brand">Media</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="calendar.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                        <div class="brand">Calendar</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                        <div class="brand">Typography</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                        <div class="brand">Extras</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                      <a href="media.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                        <div class="brand">Media</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="calendar.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                        <div class="brand">Calendar</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                        <div class="brand">Typography</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                        <div class="brand">Extras</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                      <a href="media.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                        <div class="brand">Media</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="calendar.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                        <div class="brand">Calendar</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                        <div class="brand">Typography</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                        <div class="brand">Extras</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-orange">
                      <a href="calendar.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                        <div class="brand">Calendar</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-blue">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                        <div class="brand">Typography</div>
                      </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                      <a href="typography.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                        <div class="brand">Extras</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.fluid-container-->
  </div>


  <script src="../Public/js/jquery-2.1.4.min.js"></script>
  <script src="../Public/js/bootstrap.min.js"></script>


</body>
</html>