<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">

<!--
<![endif]-->
<head>
  <meta charset="utf-8">
  <title>会员列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->

  <link href="../Public/icomoon/style.css" rel="stylesheet">
  <!--[if lte IE 7]>
  <script src="css/icomoon-font/lte-ie7.js">
  </script>
  <![endif]-->
  <link href="../Public/css/main.css" rel="stylesheet">
  <link href="../Public/css/fonts/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>

  <a href="#" class="logo">
    <img src="../Public/img/logo.png" alt="logo" />
  </a>

  <div class="btn-group">
    <button class="btn btn-primary">Srinu Baswa</button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

  <ul class="mini-nav">
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
        <span class="info-label badge badge-warning">3</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
        <span class="info-label badge badge-info">5</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
        <span class="info-label badge badge-success">9</span>
      </a>
    </li>
  </ul>

</header>
<div class="container-fluid">
  <div class="dashboard-container">
    <div class="top-nav">
      <ul>
        <li>
          <a href="index.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>门店管理</a>
        </li>
        <li>
          <a href="product.html" style="font-size: 16px;"><div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>商品管理</a>
        </li>
        <li>
          <a href="consumption.html"><div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>消费充值</a>
        </li>
        <li>
          <a href="m_member.html" class="selected"><div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>会员管理</a>
        </li>
        <li>
          <a href="stock.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>库存管理</a>
        </li>
        <li>
          <a href="staff_manage.html"><div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>员工管理</a>
        </li>
        <li>
          <a href="media.html"><div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>排班考勤</a>
        </li>
        <li>
          <a href="calendar.html"><div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>报表管理</a>
        </li>
        <li>
          <a href="typography.html"><div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>营销管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>配置管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>系统管理</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="sub-nav">
      <ul>
        <li><a href="m_member.html">主页</a></li>
        <li><a href="m_addMember.html">新增会员</a></li>
        <li><a href="m_listMember.html" class="heading">会员列表</a></li>
        <li><a href="m_memberGrade.html">会员等级</a></li>
      </ul>
    </div>

    <div class="dashboard-wrapper">
      <div class="left-sidebar">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <div class="title">会员列表</div>
                <span class="tools"><a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a></span>
              </div>
              <div class="widget-body">
                <table id="listMember" class="table table-condensed table-striped table-bordered table-hover no-margin">
                  <thead>
                  <tr>
                    <th style="width:5%">会员姓名</th>
                    <th style="width:7%">联系电话</th>
                    <th style="width:6%">会员等级</th>
                    <th style="width:3%">积分</th>
                    <th style="width:5%">账户余额</th>
                    <th style="width:5%">累计消费</th>
                    <th style="width:6%">优惠金</th>
                    <th style="width:5%">性别</th>
                    <th style="width:6%">生日</th>
                    <th style="width:7%">单位</th>
                    <th style="width:6%">会员来源</th>
                    <th style="width:6%">微信</th>
                    <th style="width:7%">备注</th>
                    <th style="width:6%">创建时间</th>
                    <th style="width:20%">操作</th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">修改编辑</h4>
        </div>
        <div class="modal-body">
          <div style="width: 50%;float: left">
            <input type="hidden" id="memberId">
            <span for="modalTotal" style="width: 20%">会员姓名</span>
            <input type="text" id="memberName" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 40%;float: right">
            <span type="button" for="memberAvatar" style="display:block;">会员头像</span>
            <a for="memberAvatar" style="display: inline-block;width: 150px;height:175px;border:1px solid #cccccc;position:relative;">
              <img id="memberAvatar" style="width: 100%;height: 100%;" src="../Public/img/upload.JPG"/>
              <input style="display: none;" id="imgInput" type="file"/>
              <i class="fa fa-trash-o" style="font-size:30px;position:absolute;;color:red;top:0;right:0;z-index:10;"></i>
            </a>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="memberPhone" style="width: 20%">联系电话</span>
            <input type="text" id="memberPhone" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="memberSex" style="width: 20%">&emsp;&emsp;性别</span>
            <label for="man" class="radio"><i class="fa fa-dot-circle-o" style="font-size:22px;display:inline;"></i>男</label>
            <label for="woman" class="radio"><i class="fa fa-circle-o" style="font-size:22px;display:inline;"></i>女</label>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="memberDateBirth" style="width: 20%">出生日期</span>
            <input type="date" id="memberDateBirth" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="memberIdnumber" style="width: 20%">身份证号</span>
            <input type="text" id="memberIdnumber" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 50%;float: right;padding-top: 20px;">
            <span type="button" for="memberOrganization" style="width: 20%">会员单位</span>
            <input type="text" id="memberOrganization" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 100%;float: left;padding-top: 20px;">
            <span type="button" for="memberAddress" style="width: 14%">会员地址</span>
            <input type="text" id="memberAddress" style="height: 25px;width: 86%;"/>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="memberPassword" style="width: 20%">会员密码</span>
            <input type="text" id="memberPassword" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 50%;float: right;padding-top: 20px;">
            <span type="button" for="favorableAmount" style="width: 20%;">&emsp;优惠金</span>
            <input type="number" id="favorableAmount" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="memberGrade" style="width: 20%">会员等级</span>
            <select id="memberGrade" style="height: 35px;width: 76%;"></select>
          </div>
          <div style="width: 50%;float: right;padding-top: 20px;">
            <spana type="button" for="memberIntegral" style="width: 20%">会员积分</spana>
            <input type="number" id="memberIntegral" style="height: 25px;width: 72%;"/>
          </div>
          <div style="width: 50%;float: left;padding-top: 20px;">
            <span type="button" for="accountBalance" style="width: 20%">账户余额</span>
            <input type="text" id="accountBalance" style="height: 25px;width: 72%;" readonly/>
          </div>
          <div style="width: 50%;float: right;padding-top: 20px;">
            <span type="button" for="handselBalance" style="width: 20%">赠送余额</span>
            <input type="text" id="handselBalance" style="height: 25px;width: 72%;" readonly/>
          </div>
          <div style="width: 100%;float: left;padding-top: 20px;">
            <span type="button" for="remark" style="width: 12%;">&emsp;&emsp;备注</span>
            <textarea id="remark" rows="3" style="width: 86%;"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button id="memberUpdate" type="button" class="btn btn-primary">提交更改</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="memberRecharge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">会员充值</h4>
        </div>
        <div class="modal-body">
          <div style="display: inline-block;width: 50%;float: right;">
            <select style="height: 35px;width: 25%;display: inline;">
              <option value='0'>手机号码</option>
              <option value='1'>姓名</option>
              <option value='2'>身份证号</option>
            </select>
            <input type="text" style="height: 25px;width: 50%;display: inline;"/>
            <input type="hidden" id="RmemberId"/>
            <a class="btn btn-info bottom-margin" href="#" id="addPurchase" style="display: inline-block;height: 25px;font-size: 16px;padding-top: 3px;">搜索</a>
          </div>
          <table width="100%" class="tabtop13">
            <tr>
              <td colspan="4" width="100%" class="btbg2 font-center">会员信息</td>
            </tr>
            <tr>
              <td width="28%" class="font-center" for="RmemberName">会员名称：<span  id="RmemberName"></span></td>
              <td width="28%" class="font-center" for="RmemberPhone">联系电话：<span  id="RmemberPhone"></span></td>
              <td width="28%" class="font-center" for="RmemberDateBirth">出生日期：<span  id="RmemberDateBirth"></span></td>
              <td width="16%" class="font-center" rowspan="3"><img id="memberPicture" src="" width="129px" height="150px"/></td>
            </tr>
            <tr>
              <td width="28%" class="font-center" for="RdiscountProportion">会员等级：<span  id="RdiscountProportion"></span></td>
              <td width="28%" class="font-center" for="RmemberIntegral">会员积分：<span  id="RmemberIntegral"></span></td>
              <td width="28%" class="font-center" for="RgradeName">会员折扣：<span  id="RgradeName"></span></td>
            </tr>
            <tr>
              <td width="28%" class="font-center" for="RrechargeAmount">充值金额：<span  id="RrechargeAmount"></span></td>
              <td width="28%" class="font-center" for="RhandselBalance">赠送金额：<span  id="RhandselBalance">0</span></td>
              <td width="28%" class="font-center" for="RaccountBalance">账户余额：<span  id="RaccountBalance"></span></td>
            </tr>
          </table>
          <div style="margin-top: 20px;width: 880px;">
            <div style="display: inline-block;width: 290px;">
              <span for="modalTotal">充值金额</span>
              <input type="number" id="rechargeAmount" min="1" value="0" style="height: 25px;width:65%;"/>
            </div>
            <div style="display: inline-block;width: 290px;">
              <span for="modalTotal">赠送金额</span>
              <input type="text" id="HhandselBalance" style="height: 25px;width: 65%;" readonly/>
            </div>
            <div style="display: inline-block;width: 290px;">
              <span for="modalTotal">支付方式</span>
              <select id="paymentMethod" style="height: 35px;width:68%;">
                <option value='0'>现金</option>
                <option value='1'>刷卡</option>
                <option value='2'>微信</option>
                <option value='3'>支付宝</option>
              </select>
            </div>
          </div>
          <span for="modalTotal" style="border:1px solid #cccccc;margin-top: 20px;padding-top: 5px;display: block;background:#f3f3f3;height: 30px;width: 100%;">备注</span>
          <textarea rows="5" style="width: 841px;" id="Rremark"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="addRecharge" type="button" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Info_prompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">提示</h4>
        </div>
        <div id="promptContent" class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../Public/js/jquery-2.1.4.min.js"></script>
  <script src="../Public/js/bootstrap.min.js"></script>
  <script src="../Public/js/professional/m_listMember.js"></script>

</body>
</html>