<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">

<!--
<![endif]-->
<head>
  <meta charset="utf-8">
  <title>会员等级</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="../Public/icomoon/style.css" rel="stylesheet">
  <!--[if lte IE 7]>
  <script src="css/icomoon-font/lte-ie7.js">
  </script>
  <![endif]-->
  <link href="../Public/css/main.css" rel="stylesheet">
  <link href="../Public/css/fonts/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<header>
  <a href="#" class="logo"><img src="../Public/img/logo.png" alt="logo" /></a>
  <div class="btn-group">
    <button class="btn btn-primary">Srinu Baswa</button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
  <ul class="mini-nav">
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
        <span class="info-label badge badge-warning">3</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
        <span class="info-label badge badge-info">5</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
        <span class="info-label badge badge-success">9</span>
      </a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="dashboard-container">
    <div class="top-nav">
      <ul>
        <li>
          <a href="index.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>门店管理</a>
        </li>
        <li>
          <a href="product.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>商品管理</a>
        </li>
        <li>
          <a href="consumption.html"><div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>消费充值</a>
        </li>
        <li>
          <a href="m_member.html" class="selected"><div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>会员管理</a>
        </li>
        <li>
          <a href="stock.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>库存管理</a>
        </li>
        <li>
          <a href="staff_manage.html"><div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>员工管理</a>
        </li>
        <li>
          <a href="media.html"><div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>排班考勤</a>
        </li>
        <li>
          <a href="calendar.html"><div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>报表管理</a>
        </li>
        <li>
          <a href="typography.html"><div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>营销管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>配置管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>系统管理</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="sub-nav">
      <ul>
        <li><a href="m_member.html">主页</a></li>
        <li><a href="m_addMember.html">新增会员</a></li>
        <li><a href="m_listMember.html">会员列表</a></li>
        <li><a href="m_memberGrade.html" class="heading">会员等级</a></li>
      </ul>
    </div>

    <div class="dashboard-wrapper">
      <div class="left-sidebar">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-body">
                <div>
                  <span><span style="color: red;">*</span>等级名称</span><input id="gradeName" class="span2" type="text" placeholder="等级名称">
                  <span style="margin-left: 50px;"><span style="color: red;">*</span>折扣比例</span>
                  <select id="discountProportion" style="margin-top: 1px;">
                    <option value='100'>无折扣</option>
                    <option value='99'>九九折</option>
                    <option value='98'>九八折</option>
                    <option value='97'>九七折</option>
                    <option value='96'>九六折</option>
                    <option value='95'>九五折</option>
                    <option value='94'>九四折</option>
                    <option value='93'>九三折</option>
                    <option value='92'>九二折</option>
                    <option value='91'>九一折</option>
                    <option value='90'>九折</option>
                    <option value='89'>八九折</option>
                    <option value='88'>八八折</option>
                    <option value='87'>八七折</option>
                    <option value='86'>八六折</option>
                    <option value='85'>八五折</option>
                    <option value='84'>八四折</option>
                    <option value='83'>八三折</option>
                    <option value='82'>八二折</option>
                    <option value='81'>八一折</option>
                    <option value='80'>八折</option>
                    <option value='79'>七九折</option>
                    <option value='78'>七八折</option>
                    <option value='77'>七七折</option>
                    <option value='76'>七六折</option>
                    <option value='75'>七五折</option>
                    <option value='74'>七四折</option>
                    <option value='73'>七三折</option>
                    <option value='72'>七二折</option>
                    <option value='71'>七一折</option>
                    <option value='70'>七折</option>
                    <option value='69'>六九折</option>
                    <option value='68'>六八折</option>
                    <option value='67'>六七折</option>
                    <option value='66'>六六折</option>
                    <option value='65'>六五折</option>
                    <option value='64'>六四折</option>
                    <option value='63'>六三折</option>
                    <option value='62'>六二折</option>
                    <option value='61'>六一折</option>
                    <option value='60'>六折</option>
                    <option value='59'>五九折</option>
                    <option value='58'>五八折</option>
                    <option value='57'>五七折</option>
                    <option value='56'>五六折</option>
                    <option value='55'>五五折</option>
                    <option value='54'>五四折</option>
                    <option value='53'>五三折</option>
                    <option value='52'>五二折</option>
                    <option value='51'>五一折</option>
                    <option value='50'>五折</option>
                    <option value='49'>四九折</option>
                    <option value='48'>四八折</option>
                    <option value='47'>四七折</option>
                    <option value='46'>四六折</option>
                    <option value='45'>四五折</option>
                    <option value='44'>四四折</option>
                    <option value='43'>四三折</option>
                    <option value='42'>四二折</option>
                    <option value='41'>四一折</option>
                    <option value='40'>四折</option>
                    <option value='39'>三九折</option>
                    <option value='38'>三八折</option>
                    <option value='37'>三七折</option>
                    <option value='36'>三六折</option>
                    <option value='35'>三五折</option>
                    <option value='34'>三四折</option>
                    <option value='33'>三三折</option>
                    <option value='32'>三二折</option>
                    <option value='31'>三一折</option>
                    <option value='30'>三折</option>
                    <option value='29'>二九折</option>
                    <option value='28'>二八折</option>
                    <option value='27'>二七折</option>
                    <option value='26'>二六折</option>
                    <option value='25'>二五折</option>
                    <option value='24'>二四折</option>
                    <option value='23'>二三折</option>
                    <option value='22'>二二折</option>
                    <option value='21'>二一折</option>
                    <option value='20'>二折</option>
                    <option value='19'>一九折</option>
                    <option value='18'>一八折</option>
                    <option value='17'>一七折</option>
                    <option value='16'>一六折</option>
                    <option value='15'>一五折</option>
                    <option value='14'>一四折</option>
                    <option value='13'>一三折</option>
                    <option value='12'>一二折</option>
                    <option value='11'>一一折</option>
                    <option value='10'>一折</option>
                  </select>
                  <a class="btn btn-primary bottom-margin" href="#" style="margin-left: 5px;margin-top:2px;height: 24px;" id="addMemberGrade">新增会员等级</a>
                </div>
              </div>
              <div class="widget-header">
                <div class="title">会员等级列表</div>
                <span class="tools">
                  <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                </span>
              </div>
              <div class="widget-body">
                <table id="memberGradeList" class="table table-condensed table-striped table-bordered table-hover no-margin">
                  <thead>
                    <tr>
                      <th style="display: none;"></th>
                      <th style="width:40%">等级名称</th>
                      <th style="width:50%">折扣比列</th>
                      <th style="width:10%">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Info_prompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">提示</h4>
        </div>
        <div id="promptContent" class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">修改会员等级</h4>
        </div>
        <div id="div_edit" class="modal-body">
          <div>
            <div style="height: 30px;">
              <input type="hidden" id="editId">
              <span style="float: left;margin-top: 6px;" for="modalTotal">会员等级</span>
              <input type="text" id="editGradeName" style="float: right;width: 86%;height: 30px;"/>
            </div>

            <div style="height: 30px;margin-top: 36px;">
              <span style="float: left;margin-top: 6px;" for="modalSmallChange">折扣比列</span>
              <select id="editDiscountProportion" style="float: right;width: 88%;height: 40px;">
                <option value='100'>无折扣</option>
                <option value='99'>九九折</option>
                <option value='98'>九八折</option>
                <option value='97'>九七折</option>
                <option value='96'>九六折</option>
                <option value='95'>九五折</option>
                <option value='94'>九四折</option>
                <option value='93'>九三折</option>
                <option value='92'>九二折</option>
                <option value='91'>九一折</option>
                <option value='90'>九折</option>
                <option value='89'>八九折</option>
                <option value='88'>八八折</option>
                <option value='87'>八七折</option>
                <option value='86'>八六折</option>
                <option value='85'>八五折</option>
                <option value='84'>八四折</option>
                <option value='83'>八三折</option>
                <option value='82'>八二折</option>
                <option value='81'>八一折</option>
                <option value='80'>八折</option>
                <option value='79'>七九折</option>
                <option value='78'>七八折</option>
                <option value='77'>七七折</option>
                <option value='76'>七六折</option>
                <option value='75'>七五折</option>
                <option value='74'>七四折</option>
                <option value='73'>七三折</option>
                <option value='72'>七二折</option>
                <option value='71'>七一折</option>
                <option value='70'>七折</option>
                <option value='69'>六九折</option>
                <option value='68'>六八折</option>
                <option value='67'>六七折</option>
                <option value='66'>六六折</option>
                <option value='65'>六五折</option>
                <option value='64'>六四折</option>
                <option value='63'>六三折</option>
                <option value='62'>六二折</option>
                <option value='61'>六一折</option>
                <option value='60'>六折</option>
                <option value='59'>五九折</option>
                <option value='58'>五八折</option>
                <option value='57'>五七折</option>
                <option value='56'>五六折</option>
                <option value='55'>五五折</option>
                <option value='54'>五四折</option>
                <option value='53'>五三折</option>
                <option value='52'>五二折</option>
                <option value='51'>五一折</option>
                <option value='50'>五折</option>
                <option value='49'>四九折</option>
                <option value='48'>四八折</option>
                <option value='47'>四七折</option>
                <option value='46'>四六折</option>
                <option value='45'>四五折</option>
                <option value='44'>四四折</option>
                <option value='43'>四三折</option>
                <option value='42'>四二折</option>
                <option value='41'>四一折</option>
                <option value='40'>四折</option>
                <option value='39'>三九折</option>
                <option value='38'>三八折</option>
                <option value='37'>三七折</option>
                <option value='36'>三六折</option>
                <option value='35'>三五折</option>
                <option value='34'>三四折</option>
                <option value='33'>三三折</option>
                <option value='32'>三二折</option>
                <option value='31'>三一折</option>
                <option value='30'>三折</option>
                <option value='29'>二九折</option>
                <option value='28'>二八折</option>
                <option value='27'>二七折</option>
                <option value='26'>二六折</option>
                <option value='25'>二五折</option>
                <option value='24'>二四折</option>
                <option value='23'>二三折</option>
                <option value='22'>二二折</option>
                <option value='21'>二一折</option>
                <option value='20'>二折</option>
                <option value='19'>一九折</option>
                <option value='18'>一八折</option>
                <option value='17'>一七折</option>
                <option value='16'>一六折</option>
                <option value='15'>一五折</option>
                <option value='14'>一四折</option>
                <option value='13'>一三折</option>
                <option value='12'>一二折</option>
                <option value='11'>一一折</option>
                <option value='10'>一折</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="updateClose" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="updateMemberGarde" class="btn btn-primary">提交更改</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../Public/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../Public/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../Public/js/professional/m_memberGrade.js"></script>
</body>
</html>