<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">

<!--
<![endif]-->
<head>
  <meta charset="utf-8">
  <title>采购管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->

  <link href="../Public/icomoon/style.css" rel="stylesheet">
  <!--[if lte IE 7]>
  <script src="css/icomoon-font/lte-ie7.js"></script>
  <![endif]-->

  <link href="../Public/css/main.css" rel="stylesheet">
  <link href="../Public/css/fonts/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<header>
  <a href="#" class="logo">
    <img src="../Public/img/logo.png" alt="logo" />
  </a>
  <div class="btn-group">
    <button class="btn btn-primary">Srinu Baswa</button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
  <ul class="mini-nav">
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
        <span class="info-label badge badge-warning">3</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
        <span class="info-label badge badge-info">5</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
        <span class="info-label badge badge-success">9</span>
      </a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="dashboard-container">
    <div class="top-nav">
      <ul>
        <li>
          <a href="index.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>门店管理</a>
        </li>
        <li>
          <a href="product.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>商品管理</a>
        </li>
        <li>
          <a href="consumption.html"><div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>消费充值</a>
        </li>
        <li>
          <a href="m_member.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>会员管理</a>
        </li>
        <li>
          <a href="stock.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>库存管理</a>
        </li>
        <li>
          <a href="staff_manage.html" class="selected" style="font-size: 16px;"><div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>员工管理</a>
        </li>
        <li>
          <a href="media.html"><div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>排班考勤</a>
        </li>
        <li>
          <a href="calendar.html"><div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>报表管理</a>
        </li>
        <li>
          <a href="typography.html"><div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>营销管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>配置管理</a>
        </li>
        <li>
          <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>系统管理</a>
        </li>
      </ul>
      <div class="clearfix">
      </div>
    </div>
    <div class="sub-nav">
      <ul>
        <li><a href="staff_manage.html">主页</a></li>
        <li><a href="staff_post.html" class="heading">员工岗位</a></li>
        <li><a href="staff_add.html">新增员工</a></li>
        <li><a href="staff_list.html">员工列表</a></li>
      </ul>
    </div>
    <div class="dashboard-wrapper">
      <div class="left-sidebar">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-body">
                <div class="row-fluid">
                  <div class="metro-nav">
                    <div>
                      <label class="control-label" for="positionTitle">岗位名称</label>
                      <input id="positionTitle" class="span2" type="text">
                      <label class="control-label" for="basicWage" style="margin-left: 50px;">基本工资</label>
                      <input id="basicWage" class="span2" type="text">
                      <a class="btn btn-info bottom-margin" style="margin-left: 20px;" id="add_staffPost">新增岗位</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="widget-body">
                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                  <thead>
                  <tr>
                    <th style="width:3%"></th>
                    <th style="width:42%">岗位名称</th>
                    <th style="width:40%">基本工资</th>
                    <th style="width:15%">操作</th>
                  </tr>
                  </thead>
                  <tbody id="positionList">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Info_prompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div id="promptContent" class="modal-body">

      </div>
      <div class="modal-footer">
        <button name="btnClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update_prompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改岗位</h4>
      </div>
      <div class="modal-body">
        <div style="margin-left: 20px;">
          <input type="hidden" id="editPromptId">
          <label class="control-label" for="positionTitle">岗位名称</label>
          <input id="updatepositionTitle" class="span5" type="text">
        </div>
        <div style="margin-left: 20px;">
          <label class="control-label" for="basicWage" style="margin-top: 20px;">基本工资</label>
          <input id="updatebasicWage" class="span5" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button name="btnClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="submitPormpt" type="button" class="btn btn-primary">提交更改</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../Public/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../Public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Public/js/professional/staff_post.js"></script>

</body>
</html>