<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">
  
  <!--
<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>
      Blue Moon - Responsive Admin Dashboard
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    
    <link href="../Public/icomoon/style.css" rel="stylesheet">
    <!--[if lte IE 7]>
    <script src="css/icomoon-font/lte-ie7.js">
    </script>
    <![endif]-->
  <link href="../Public/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">
  <link href="../Public/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">
  <link href="../Public/css/main.css" rel="stylesheet"> <!-- Important. For Theming change primary-color variable in main.css  -->
  <link href="../Public/css/charts-graphs.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img src="../Public/img/logo.png" alt="logo" />
      </a>
      <div class="btn-group">
        <button class="btn btn-primary">Srinu Baswa</button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Edit Profile</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
      <ul class="mini-nav">
        <li>
          <a href="#">
            <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
            <span class="info-label badge badge-warning">3</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
            <span class="info-label badge badge-info">5</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
            <span class="info-label badge badge-success">9</span>
          </a>
        </li>
      </ul>
      
    </header>
    <div class="container-fluid">
      <div class="dashboard-container">
        <div class="top-nav">
          <ul>
            <li>
              <a href="index.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>门店管理</a>
            </li>
            <li>
              <a href="product.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>商品管理</a>
            </li>
            <li>
              <a href="consumption.html"><div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>消费充值</a>
            </li>
            <li>
              <a href="m_member.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>会员管理</a>
            </li>
            <li>
              <a href="stock.html" class="selected" style="font-size: 16px;"><div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>库存管理</a>
            </li>
            <li>
              <a href="staff_manage.html"><div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>员工管理</a>
            </li>
            <li>
              <a href="media.html"><div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>排班考勤</a>
            </li>
            <li>
              <a href="calendar.html"><div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>报表管理</a>
            </li>
            <li>
              <a href="typography.html"><div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>营销管理</a>
            </li>
            <li>
              <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>配置管理</a>
            </li>
            <li>
              <a href="edit-profile.html"><div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>系统管理</a>
            </li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
        <div class="sub-nav">
          <ul>
            <li><a href="stock.html" class="heading">主页</a></li>
            <li><a href="s_stockManage.html">库存管理</a></li>
            <li><a href="s_purchaseManage.html">采购管理</a></li>
            <li><a href="s_returnManage.html">退货管理</a></li>
            <li><a href="s_supplierManage.html">供应商管理</a></li>
          </ul>
          
        </div>
        <div class="dashboard-wrapper">
          <div class="left-sidebar">
            <div class="row-fluid">
              <div class="span12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">快速入口</div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row-fluid">
                      <div class="metro-nav">
                      	<div class="metro-nav-block nav-block-blue current">
                          <a href="graphs.html" >
                            <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                            <div class="brand">统计信息</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-yellow">
                          <a href="index.html" >
                            <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                            <div class="brand">门店资料</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange">
                          <a href="ui-elements.html" >
                            <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                            <div class="brand">会员管理</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue">
                          <a href="graphs.html" >
                            <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                            <div class="brand">统计信息</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                          <a href="forms.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                            <div class="brand">库存管理</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                          <a href="icons.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>
                            <div class="brand">Icons</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                          <a href="tables.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                            <div class="brand">Tables</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                          <a href="media.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                            <div class="brand">Media</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange">
                          <a href="calendar.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                            <div class="brand">Calendar</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue">
                          <a href="typography.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                            <div class="brand">Typography</div>
                          </a>
                        </div>
                        <div class="metro-nav-block nav-block-yellow">
                          <a href="typography.html">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                            <div class="brand">Extras</div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--/.fluid-container-->
    </div>
    
    <footer><p>&copy; baswaAdmin 2014</p></footer>
    
    <script src="../Public/js/wysiwyg/wysihtml5-0.3.0.js">
    </script>
    <script src="../Public/js/jquery-2.1.4.min.js">
    </script>
    <script src="../Public/js/bootstrap.min.js">
    </script>
    <script src="../Public/js/wysiwyg/bootstrap-wysihtml5.js">
    </script>
    <script src="../Public/js/jquery.scrollUp.js">
    </script>
    
    
    <!-- Google Visualization JS -->
  
    
    <!-- Easy Pie Chart JS -->
    <script src="../Public/js/jquery.easy-pie-chart.js">
    </script>
    
    <!-- Sparkline JS -->
    <script src="../Public/js/jquery.sparkline.js">
    </script>
    
    <!-- Tiny Scrollbar JS -->
    <script src="../Public/js/tiny-scrollbar.js">
    </script>
    
    
    
    <script type="text/javascript">
      //ScrollUp
      $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: 'Scroll to top', // Text for element
          activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });

      //Google Visualiations
      google.load("visualization", "1", {
        packages: ["corechart"]
      });
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Week', 'Visitors', 'Orders'],
          ['Sun', 9709, 761],
          ['Mon', 1367, 8631],
          ['Tue', 6792, 971],
          ['Wed', 1267, 7491],
          ['Thu', 9539, 1792],
          ['Fri', 670, 9367],
          ['Sat', 9761, 709]
        ]);

        var options = {
          width: 'auto',
          height: '160',
          backgroundColor: 'transparent',
          colors: ['#ed6d49', '#0daed3'],
          tooltip: {
            textStyle: {
              color: '#666666',
              fontSize: 11
            },
            showColorCode: true
          },
          legend: {
            textStyle: {
              color: 'black',
              fontSize: 12
            }
          },
          chartArea: {
            left: 100,
            top: 10
          },
          focusTarget: 'category',
          hAxis: {
            textStyle: {
              color: 'black',
              fontSize: 12
            }
          },
          vAxis: {
            textStyle: {
              color: 'black',
              fontSize: 12
            }
          },
          pointSize: 6,
          chartArea: {
            left: 60,
            top: 10,
            height: '80%'
          },
          lineWidth: 1,
        };

        var chart = new google.visualization.LineChart(document.getElementById('area_chart'));
        chart.draw(data, options);
      }


      //Tooltip
      $('a').tooltip('hide');
      $('i').tooltip('hide');


      //Tiny Scrollbar
      $('#scrollbar').tinyscrollbar();
      $('#scrollbar-one').tinyscrollbar();
      $('#scrollbar-two').tinyscrollbar();
      $('#scrollbar-three').tinyscrollbar();



      //Tabs
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })

      // SparkLine Graphs-Charts
      $(function () {
        $('#unique-visitors').sparkline('html', {
          type: 'bar',
          barColor: '#ed6d49',
          barWidth: 6,
          height: 30,
        });
        $('#monthly-sales').sparkline('html', {
          type: 'bar',
          barColor: '#74b749',
          barWidth: 6,
          height: 30,
        });
        $('#current-balance').sparkline('html', {
          type: 'bar',
          barColor: '#ffb400',
          barWidth: 6,
          height: 30,
        });
        $('#registrations').sparkline('html', {
          type: 'bar',
          barColor: '#0daed3',
          barWidth: 6,
          height: 30,
        });
        $('#site-visits').sparkline('html', {
          type: 'bar',
          barColor: '#f63131',
          barWidth: 6,
          height: 30,
        });
      });

      //wysihtml5
      $('#wysiwyg').wysihtml5();
    </script>
    
    
  
</body>
</html>